<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'HOME_IO_UI/css/bootstrap.min.css' %}" />
    <script lang="javascript" src="{% static 'HOME_IO_UI/js/fontawesome.js' %}"></script>
    <script lang="javascript" src="{% static 'HOME_IO_UI/js/jquery-3.3.1.min.js' %}"></script>
    <script lang="javascript" src="{% static 'HOME_IO_UI/js/bootstrap.bundle.min.js' %}"></script>
</head>

<body>
    <div class="album p-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-secondary m-3" data-toggle="button" aria-pressed="false" autocomplete="off">
                        <i class="fas fa-lightbulb fa-8x"></i>
                    </button>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-secondary m-3" data-toggle="button" aria-pressed="false" autocomplete="off">
                        <i class="fas fa-lightbulb fa-8x"></i>
                    </button>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-secondary m-3" data-toggle="button" aria-pressed="false" autocomplete="off">
                        <i class="fas fa-lightbulb fa-8x"></i>
                    </button>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-secondary m-3" data-toggle="button" aria-pressed="false" autocomplete="off">
                        <i class="fas fa-lightbulb fa-8x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>